<table class = "table table-bordered table-striped">
    
    <h3>Archivos enviados</h3>
   <thead>
      <tr>
         <th>Nombre estudiante</th>

         <th>evaluation</th>
         
         <th>Nota</th>
         
         <th>Accesar</th>


         
      </tr>
   </thead>
      <tbody>
      <% @grade.each do |e| %>
         
         <tr>
            <td><%= e.student.user.nombre %></td>
            <td><%= e.practice.title %></td>
            <td><%= e.grade %></td>
            
            <td><%= link_to "accesar", practice_grade_practice_path(@practice,e) , class: "btn btn-primary" %></td>
            <% if tutor_user || admin %>
            
            
            <% end %>
         </tr>
         
      <% end %>
   </tbody>
    
    
    

</table    