

<div class = "container">

   



            <strong>Titulo:</strong>
            <td><%= @practice.title %> </td><br>
            <strong>Contenido:</strong>
            <td><%= @practice.content %> </td><br>
            
            <td><%= link_to "Download", @practice.attachment_url %></td><br>
            

            
            <td><%= link_to "Courses show", course_path(@course)   %></td>
         
         
      
   
   
</div>